@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: rgb(252, 252, 252);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

.container .left_side {
  position: relative;
  background: #003147;
  padding: 40px;
}

.container .right_side {
  position: relative;
  background: #ffffff;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1cm;
}
img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 0.6cm;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}
.profileText h2 span {
  font-size: 0.5cm;
  font-weight: 300;
}
.contact_info {
  position: relative;
}

.contact_info ul {
  position: relative;
}
.contact_info ul li {
  position: static;
  cursor: pointer;
  margin: 10px;
  list-style: none;
}
.contact_info span {
  color: rgb(248, 246, 246);
  font-weight: 300;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #03aaf7;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  font-weight: 550;
  color: #ffffff;
}

.contactInfo.education h4 {
  font-weight: 300;
  color: #ffffff;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: absolute;
  height: 100%;
  background: #03aaf7;
}
.language li {
  list-style: none;
}

.contactInfo li {
  margin-bottom: 15px;
  color: #fff;
}

ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03aaf7;
}

.title {
  color: rgb(248, 244, 244);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003147;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}
.right_side .projects h3 {
  font-weight: 600;
  color: #003147;
}

.right_side .projects h5 {
  color: #848c90;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.about_skills .box h4 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
}

.about_skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
  display: flex;
}

.about_skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  background: #03aaf7;
  position: absolute;
  height: 100%;
}

.interests ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interests ul li {
  list-style: none;
  font-weight: 500;
  margin: 10px 0;
  color: #333;
}

.interests ul li .fa {
  color: #03aaf7;
  font-size: 18px;
  width: 20px;
}

.right_side .DownloadBtn {
  margin-top: 60px;
  position: relative;
  margin-left: 250px;
  background: #02a3ee;
  max-width: 100px;
  font-weight: 700;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}
.right_side .DownloadBtn:hover {
  background: #016999;
}

.right_side .DownloadBtn a {
  color: #f0f0f0;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interests ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    min-width: 150px;
    margin-bottom: 5px;
  }
}
